.DS_Store
Python/bin
Python/include
Python/lib
Python/lib64
Python/pyvenv.cfg
Python/model
Python/src/__pycache__
Python/SentimentAnalysis.Services.SentimentAnalysis/lib64
Python/SentimentAnalysis.Services.SentimentAnalysis/bin
Python/SentimentAnalysis.Services.SentimentAnalysis/lib
Python/SentimentAnalysis.Services.SentimentAnalysis/model
Python/SentimentAnalysis.Services.SentimentAnalysis/include
Python/SentimentAnalysis.Services.SentimentAnalysis/pyvenv.cfg
Python/SentimentAnalysis.Services.SentimentAnalysis/src/__pycache__
Java/.idea/
.vscode/
.idea/